# Content Based Recommendation System

# Q1 Read the Dataset `movies_metadata.csv`

In [13]:
import numpy as np
import pandas as pd

In [46]:
mdf = pd.read_csv('movies_metadata.csv')

C:\Users\Sia\Anaconda2\envs\Python3.6\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
mdf.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [48]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB


# Q2 Create a new column with name 'description' combining 'overview' and 'tagline' columns in the given dataset

In [49]:
mdf['description'] = mdf[['overview', 'tagline']].apply(lambda x: ''.join(x.astype(str)), axis=1)

In [50]:
mdf.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
description                  0
dtype: int64

# Q3  Lets drop the null values in `description` column

In [35]:
# there are no null values in description column, So if we see above overview has 954 null values and tagline has 25054 null values
# But combining these two doesnt give any null value.

# Q4 Keep the first occurance and drop duplicates of each title in column 'title'

In [51]:
mdf.drop_duplicates(subset='title',keep='first', inplace=True)

In [52]:
mdf.count()

adult                    42278
belongs_to_collection     4358
budget                   42278
genres                   42278
homepage                  7241
id                       42278
imdb_id                  42262
original_language        42267
original_title           42278
overview                 41363
popularity               42277
poster_path              41906
production_companies     42277
production_countries     42277
release_date             42196
revenue                  42277
runtime                  42027
spoken_languages         42277
status                   42201
tagline                  19052
title                    42277
video                    42277
vote_average             42277
vote_count               42277
description              42278
dtype: int64

In [7]:
# Just taking sample of the data as its huge to run on local machine

In [8]:
# taking 10k data points out of it

In [53]:
mdf = mdf.sample(10000)

# Q5   As we might have dropped a few rows with duplicate `title` in above step, just reset the index [make sure you are not adding any new column to the dataframe while doing reset index]

In [54]:
mdf.reset_index(drop=True, inplace=True)

# Q6    Generate tf-idf matrix using the column `description`. Consider till 3-grams, with minimum document frequency as 0.

Hint:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [56]:
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(1,3),stop_words='english', min_df = 0)
tf_idf_vect.fit(mdf['description'])
des_matrix = tf_idf_vect.transform(mdf["description"])

# Q7  Create cosine similarity matrix

In [57]:
from sklearn.metrics.pairwise import cosine_similarity

In [58]:
cosine_sim_description = cosine_similarity(des_matrix)

In [59]:
cosine_sim_description.shape

(10000, 10000)

# Q8  Write a function with name `recommend` which takes `title` as argument and returns a list of 10 recommended title names in the output based on the above cosine similarities

Hint:

titles = df['title'] <br>
indices = pd.Series(df.index, index=df['title']) <br>

def recommend(title): <br>
    idx = indices[title] <br>
    sim_scores = list(enumerate(cosine_similarities[idx])) <br>
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) <br>
    sim_scores = sim_scores[1:31] <br>
    movie_indices = [i[0] for i in sim_scores] <br>
    return titles.iloc[movie_indices] <br>

In [71]:
# lets wrap the above code in a function
titles = mdf['title'] 
indices = pd.Series(mdf.index, index=mdf['title'])

In [77]:
def recommend(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim_description[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [78]:
recommend('Comic Book Confidential')

2077                         Creepshow 2
3917                     Animal Crackers
7253                         Killer Toon
4698                  Through the Forest
4066    Gabriel Iglesias: Hot and Fluffy
7511                            Comedian
1845                    Around the World
3610                       Talking Funny
1478                           The Speak
5200                  Station to Station
Name: title, dtype: object

# Q9 Give the recommendations from above functions for movies `The Godfather` and `The Dark Knight Rises`

In [68]:
# The End of Old Times
# Comic Book Confidential

# Instead doing for above movies as movies mentioned in question didn't came into sample

In [79]:
recommend('The End of Old Times')

1211                  Castle Freak
3339           The Ghost Goes West
7335    The Shiver of the Vampires
3133      Fracchia Against Dracula
7964     The Devil's Wedding Night
8153                    The Escort
8522        Terror in a Texas Town
9017              Poolhall Junkies
9413                       Shalako
8603                 Lips of Blood
Name: title, dtype: object

In [80]:
recommend('Comic Book Confidential')

2077                         Creepshow 2
3917                     Animal Crackers
7253                         Killer Toon
4698                  Through the Forest
4066    Gabriel Iglesias: Hot and Fluffy
7511                            Comedian
1845                    Around the World
3610                       Talking Funny
1478                           The Speak
5200                  Station to Station
Name: title, dtype: object

# Popularity Based Recommendation System

### About Dataset

Anonymous Ratings on jokes.

1. Ratings are real values ranging from -10.00 to +10.00 (the value "99" corresponds to "null" = "not rated").

2. One row per user

3. The first column gives the number of jokes rated by that user. The next 100 columns give the ratings for jokes 01 - 100.

# Q10 Read the dataset(jokes.csv)

In [81]:
jdf = pd.read_csv('jokes.csv')

In [82]:
jdf.shape

(24983, 101)

In [83]:
jdf.head()

,NumJokes,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,...,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

# Q11 Consider `ratings` named dataframe with only first 200 rows and all columns from 1(first column is 0) of dataset

In [85]:
ratings = jdf.drop(columns='NumJokes')

In [86]:
ratings = ratings.head(200)

# Q12 Change the column indices from 0 to 99

In [106]:
column = np.arange(0,100)

In [107]:
for i in column:
    ratings.columns.values[i] = i

In [108]:
ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,1.84,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

# Q13 In the dataset, the null ratings are given as 99.00, so replace all 99.00s with 0
Hint: You can use `ratings.replace(<the given value>, <new value you wanted to change with>)`

In [103]:
ratings.replace(99.00, 0)

,Joke1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8,Joke9,Joke10,...,Joke91,Joke92,Joke93,Joke94,Joke95,Joke96,Joke97,Joke98,Joke99,Joke100
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,0.00,0.00,0.00,0.00,0.00,-5.63,0.00,0.00,0.00
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,0.00,0.00,0.00,0.00,9.03,9.27,9.03,9.27,0.00,0.00,...,0.00,0.00,0.00,9.08,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,8.35,0.00,0.00,1.80,8.16,-2.82,6.21,0.00,1.84,...,0.00,0.00,0.00,0.53,0.00,0.00,0.00,0.00,0.00,0.00
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
5,-6.17,-3.54,0.44,-8.50,-7.09,-4.32,-8.69,-0.87,-6.65,-1.80,...,-3.54,-6.89,-0.68,-2.96,-2.18,-3.35,0.05,-9.08,-5.05,-3.45
6,0.00,0.00,0.00,0.00,8.59,-9.85,7.72,8.79,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,2.33,0.00,0.00,0.00,0.00
7,6.84,3.16,9.17,-6.21,-8.16,-1.70,9.27,1.41,-5.19,-4.42,...,7.23,-1.12,-0.10,-5.68,-3.16,-3.35,2.14,-0.05,1.31,0.00
8,-3.79,-3.54,-9.42,-6.89,-8.74,-0.29,-5.29,-8.93,-7.86,-1.60,...,4.37,-0.29,4.17,-0.29,-0.29,-0.29,-0.29,-0.29,-3.40,-4.95
9,3.01,5.15,5.15,3.01,6.41,5.15,8.93,2.52,3.01,8.16,...,0.00,4.47,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,-2.91,4.08,0.00,0.00,-5.73,0.00,2.48,-5.29,0.00,1.46,...,0.00,6.17,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,1.31,1.80,2.57,-2.38,0.73,0.73,-0.97,5.00,-7.23,-1.36,...,1.46,1.70,0.29,-3.30,3.45,5.44,4.08,2.48,4.51,4.66
12,0.00,0.00,0.00,0.00,5.87,0.00,5.58,0.53,0.00,7.14,...,0.00,0.00,7.52,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,9.22,9.27,9.22,8.30,7.43,0.44,3.50,8.16,5.97,8.98,...,8.11,-1.02,5.58,6.84,5.53,-5.92,8.20,8.98,-8.16,6.50
14,8.79,-5.78,6.02,3.69,7.77,-5.83,8.69,8.59,-5.92,7.52,...,2.72,-5.49,-8.59,8.69,-8.74,-3.01,8.30,-4.81,-2.38,-5.97
15,-3.50,1.55,2.33,-4.13,4.22,-2.28,-2.96,-0.49,2.91,1.99,...,3.11,1.70,0.24,-5.92,7.28,-1.36,3.74,2.82,-2.86,3.45
16,0.00,-9.27,0.00,0.00,-7.38,0.00,8.74,-6.31,0.00,2.33,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,3.16,7.62,3.79,8.25,4.22,7.62,2.43,0.97,0.53,0.83,...,0.83,5.68,3.69,0.19,0.29,3.59,0.49,8.06,0.49,7.62
18,4.22,3.64,0.00,0.00,2.52,0.00,4.13,-5.19,0.00,7.91,...,0.00,0.05,0.00,0.00,0.00,0.00,1.65,0.00,0.00,0.00
19,0.00,7.62,0.00,0.00,-8.64,2.43,8.93,-6.60,0.00,-9.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,2.57,-0.73,0.00,0.00,2.57,0.00,-4.22,2.67,0.00,-1.31,...,0.00,1.31,0.00,0.00,0.00,0.00,1.02,0.00,0.00,0.00
21,7.28,5.39,0.00,0.00,-4.22,0.00,8.93,3.50,0.00,6.12,...,0.00,-1.55,0.00,0.00,0.00,0.00,0.29,-4.61,0.00,0.00
22,2.72,4.17,6.50,-3.54,-3.30,2.86,7.04,4.95,6.17,8.93,...,0.00,-3.35,0.00,0.00,0.00,2.67,0.00,0.00,0.00,0.00
23,2.09,-7.57,4.17,-8.40,-6.31,5.34,-5.19,-5.05,-8.20,2.28,...,3.06,8.25,8.50,-9.51,8.45,8.16,7.82,8.50,8.35,-8.35
24,-3.93,-1.17,2.28,-0.44,-2.28,2.38,-3.93,4.51,-0.34,7.77,...,0.00,0.00,0.00,0.00,0.00,0.00,-1.50,-6.07,1.26,0.10
25,0.00,5.49,3.45,0.00,0.15,4.76,0.10,4.13,8.01,4.76,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,0.00,5.83,0.00,0.00,5.34,0.00,-4.47,2.18,-3.98,-3.25,...,0.00,0.00,4.47,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,0.49,0.15,0.15,-9.56,-9.76,-9.61,0.29,1.65,-4.61,-4.71,...,0.00,0.00,0.00,0.00,-0.97,0.00,0.00,0.00,0.00,0.00
28,0.00,0.00,0.00,0.00,-1.70,0.00,8.83,-1.89,0.00,0.00,...,0.24,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,0.00,4.08,0.00,0.00,5.87,0.00,0.44,2.28,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,0.00,0.00,0.00,0.00,4.27,0.00,4.81,-6.21,0.00,0.00,...,0.00,0.00,8.54,0.00,0.00,0.00,0.00,0.00,0.00,0.00
171,-4.56,-3.74,-2.67,0.00,-3.40,0.63,-5.34,0.44,5.34,4.08,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
172,0.00,0.00,0.00,0.00,4.37,0.00,-3.40,1.12,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,5.05,0.00,0.00,0.00,0.00
173,0.00,0.00,0.00,0.00,0.34,0.00,-1.65,0.83,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,-1.75,0.00,0.00,0.00
174,0.00,0.00,0.00,0.00,-4.32,0.00,3.45,4.37,0.00,5.73,...,0.00,0.00,0.00,0.00,7.14,0.00,0.00,0.00,0.00,0.00
175,-9.42,8.83,8.45,8.64,5.73,8.45,6.89,4.56,-9.42,-9.22,...,0.00,0.00,0.00,0.00,0.00,0.00,6.12,0.00,0.00,0.00
176,-3.54,-3.20,1.12,3.83,3.30,-2.33,-0.19,2.33,0.05,1.17,...,0.49,-4.22,1.50,1.02,-3.74,2.28,-1.65,2.09,-5.97,2.18
177,5.39,0.24,0.00,0.00,-6.55,0.00,-8.35,3.40,0.00,-4.42,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
178,0.00,0.00,0.00,0.00,4.13,8.40,8.54,3.59,0.00,4.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
179,4.42,-5.05,0.00,0.00,1.55,0.00,6.60,2.18,0.00,-4.22,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.24,0.00,0.00
180,0.00,0.00,0.00,0.00,5.10,0.00,-6.31,1.21,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
181,5.44,0.49,0.00,0.00,-1.21,0.00,0.29,-0.63,0.00,5.53,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
182,0.00,-8.98,-9.66,0.00,-6.12,-7.91,-7.14,-5.24,0.00,-9.17,...,0.00,0.00,-2.33,0.00,0.00,0.00,0.00,0.00,0.00,0.00
183,8.30,8.20,4.95,0.00,0.78,0.00,5.78,-2.77,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
184,-8.16,-7.86,-1.02,0.00,0.34,0.00,0.49,-0.29,0.00,2.14,...,0.00,-8.74,0.00,-7.91,0.00,0.00,0.00,0.00,0.00,0.00
185,-2.86,-6.31,-4.90,1.89,3.01,8.11,4.81,1.60,-4.95,9.03,...,0.00,0.00,0.00,0.00,7.38,0.00,0.00,0.00,-6.65,7.18
186,-0.10,-5.68,1.50,-7.72,-7.91,1.12,-1.21,-3.74,-3.25,-1.89,...,0.00,0.00,-2.48,0.00,0.00,0.00,0.00,0.00,0.00,0.00
187,-6.31,-1.94,0.00,0.00,3.69,0.00,-4.08,3.06,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
188,0.00,0.00,0.00,0.00,8.16,0.15,4.03,7.67,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
189,0.00,-3.16,-3.45,0.00,2.96,-1.65,1.75,-4.42,0.00,-1.21,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
190,3.54,-6.70,-4.76,0.00,-8.16,0.00,1.84,-6.84,0.00,1.31,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
191,4.47,-0.19,1.55,-1.50,-4.42,4.22,-2.38,1.46,-0.39,-5.39,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
192,8.06,3.45,3.69,-1.36,3.93,2.14,2.77,0.34,2.52,3.69,...,5.78,5.05,5.68,-2.86,2.86,7.09,5.68,7.48,8.59,2.23
193,1.84,-2.23,5.49,5.49,4.37,9.22,9.08,5.78,-3.40,6.50,...,-5.29,-1.26,6.21,-2.96,-1.02,-6.17,4.90,9.22,8.16,6.80
194,-9.71,-8.25,-8.30,-2.62,-8.93,-0.05,2.18,4.47,1.21,2.38,...,4.61,-9.22,-6.50,3.25,2.62,1.99,8.74,-6.55,-0.53,-8.59
195,5.73,0.00,-0.58,1.75,2.86,7.23,2.04,-4.27,3.11,7.14,...,1.70,4.66,1.65,5.58,5.73,3.50,0.00,-2.04,2.91,1.84
196,1.80,5.39,8.06,-0.10,4.81,4.66,-7.09,-7.72,3.69,4.47,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
197,2.62,-3.79,-1.17,-0.44,-1.02,5.05,-3.69,2.18,3.30,-0.73,...,1.41,-2.52,-0.53,-1.89,1.17,-2.04,-1.17,-0.73,0.73,0.44
198,0.00,0.00,0.00,0.00,7.91,0.00,3.64,-1.89,0.00,0.00,...,2.96,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
199,5.58,-7.28,-4.56,2.67,7.38,2.18,2.14,2.23,5.58,-4.51,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

# Q14 Normalize the ratings using StandardScaler and save them in `ratings_diff` variable

In [109]:
from sklearn.preprocessing import StandardScaler

In [111]:
#Using StandardScaler to standardize the data

sc = StandardScaler()
ratings_diff =  sc.fit_transform(ratings)

In [131]:
ratings_diff.shape

(200, 100)

In [138]:
ratings_diff[0]

array([-0.83401707, -0.26302556, -0.9426833 , -1.0661254 , -1.38039384,
       -0.88391535, -1.78525306,  0.8774751 , -1.03188597, -0.59300621,
       -0.73311932, -0.71193919, -1.10083925, -0.2933259 , -1.08337184,
       -0.92498729, -1.48568906, -1.84572178, -2.12249011, -1.78399118,
       -1.05780529, -0.43869661, -0.61060743, -1.02281097, -0.66596491,
       -0.28472212,  0.5270317 , -0.14845194,  0.46198553, -0.81251755,
       -0.17434827, -0.73502597, -0.89856887, -0.25448504,  0.07926875,
       -0.01192847, -0.89487704, -0.63601187, -0.67871231, -0.71224732,
       -0.75737978, -0.73941648, -0.83187825, -0.89160865, -0.60428227,
       -0.59415507, -0.28800862, -0.25666103,  0.00855826,  0.01908806,
       -0.8001886 , -0.73943431, -0.10734386,  0.16012984, -0.68544318,
       -0.2387812 , -0.96397   , -1.01905043, -0.54107361, -0.80893728,
        0.09093266, -0.02454617, -0.68176798, -0.83856098, -0.15666694,
       -0.43555516, -0.91879842,  1.27420332,  0.12324076, -0.71186666,
        0.72356133,  0.69269664,  0.68465783,  0.68459356,  0.66877961,
        0.68448675,  0.67675396, -1.67701799,  0.69218901,  0.68421813,
        0.72370956, -1.57456041,  0.71620633,  0.70833762,  0.74025066,
        0.7483526 ,  0.74863201,  0.73254586,  0.69269562,  0.7726945 ,
       -1.39787533,  0.74022393,  0.77317135,  0.77262566,  0.74012424,
        0.74044167, -1.39352573,  0.70778183,  0.7894014 ,  0.70807651])

### Popularity based recommendation system

# Q15  Find the mean for each column  in `ratings_diff` i.e, for each joke
Consider all the mean ratings and find the jokes with highest mean value and display the top 10 joke IDs.

In [149]:
ratings_mean = pd.DataFrame(columns=['JokeID', 'Mean'])

In [150]:
col = np.arange(0,100)

In [151]:
for col_in in col:
    ratings_mean.loc[col_in] = [col_in, ratings_diff[col_in].mean()]

In [156]:
ratings_mean.sort_values(by=, axis=1)

KeyError: 'Mean'